<form class="form-container2">
    <h1 style="font-family:Georgia, 'Times New Roman', Times, serif, Tahoma, sans-serif"
        align ="center">FidBuddy typing...
    </h1>

    <h3 align ="center" class = "form-container3">

        <p>Neccessary Spending: ${{ necessary_spending | float(2) }}</p>
        <p>Leisure Spending: ${{ leisure_spending | float(2) }}</p>
        <p>Retirement Save-up: ${{ retirement | float(2) }}</p>
        <p>High-Yield Saving Account: ${{ high_yields_saving_account | float(2) }}</p>
        <p>Saving Account: ${{ saving_accnt | float(2) }}</p>
        <p>Investment: ${{ investments | float(2) }}</p>
        <p>{{opinion}}</p>
     </h3>
</form>
